{{#resume.basics}}
	<h1>{{name}}</h1>
	<h2>{{label}}</h2>
	<section id="basics">
		<div class="contact">
		{{#if website}}
		<div class="website">
			<strong>Website</strong>
			<a href="{{website}}" target="_blank">{{website}}</a>
		</div>
		{{/if}}
		{{#if email}}
		<div class="email">
			<strong>Email</strong>
			<a href="mailto:{{email}}">{{email}}</a>
		</div>
		{{/if}}
		{{#if phone}}
		<div class="phone">
			<strong>Phone</strong>
			<tel>{{phone}}</tel>
		</div>
		{{/if}}
		</div>
		{{#if profiles.length}}
		<h4>Profiles</h4>
		<section id="profiles">
			{{#each profiles}}
			<div class="item">
				{{#if network}}
				<strong class="network">
					{{network}}
				</strong>
				{{/if}}
				{{#if username}}
				<div class="username">
					<a href="{{url}}" target="_blank">{{username}}</a>
				</div>
				{{/if}}
				{{#if url}}
				{{!-- <div class="url">
					Link
				</div> --}}
				{{/if}}
			</div>
			{{/each}}
		</section>
		{{/if}}
		{{#if summary}}
		<div class="summary">
			<p>{{summary}}</p>
		</div>
		{{/if}}
		{{#location}}
		<h3>Location</h3>
		<section id="location">
			{{#if address}}
			<div class="address">
				<strong>Address</strong>
				{{address}}
			</div>
			{{/if}}
			{{#if postalCode}}
			<div class="postalCode">
				<strong>Postal code</strong>
				{{postalCode}}
			</div>
			{{/if}}
			{{#if city}}
			<div class="city">
				<strong>City</strong>
				{{city}}
			</div>
			{{/if}}
			{{#if countryCode}}
			<div class="countryCode">
				<strong>Country code</strong>
				{{countryCode}}
			</div>
			{{/if}}
			{{#if region}}
			<div class="region">
				<strong>Region</strong>
				{{region}}
			</div>
			{{/if}}
		</section>
		{{/location}}
	</section>
{{/resume.basics}}
